<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>zy_crm</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>setCharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RoleAddServlet</display-name>
    <servlet-name>RoleAddServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.role.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleAddServlet</servlet-name>
    <url-pattern>/role/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleDeleteServlet</display-name>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.role.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <url-pattern>/role/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleListServlet</display-name>
    <servlet-name>RoleListServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.role.RoleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleListServlet</servlet-name>
    <url-pattern>/role/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleUpdateServlet</display-name>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.role.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <url-pattern>/role/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentAddServlet</display-name>
    <servlet-name>DepartmentAddServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.department.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentAddServlet</servlet-name>
    <url-pattern>/department/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentListServlet</display-name>
    <servlet-name>DepartmentListServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.department.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentListServlet</servlet-name>
    <url-pattern>/department/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentUpdateServlet</display-name>
    <servlet-name>DepartmentUpdateServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.department.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentUpdateServlet</servlet-name>
    <url-pattern>/department/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentDeleteServlet</display-name>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.department.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <url-pattern>/department/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.user.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/user/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.user.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.user.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/user/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.user.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/user/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSelectServlet</display-name>
    <servlet-name>UserSelectServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.user.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelectServlet</servlet-name>
    <url-pattern>/user/select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeAddServlet</display-name>
    <servlet-name>NoticeAddServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.notice.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeAddServlet</servlet-name>
    <url-pattern>/notice/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeListServlet</display-name>
    <servlet-name>NoticeListServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.notice.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeListServlet</servlet-name>
    <url-pattern>/notice/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeUpdateServlet</display-name>
    <servlet-name>NoticeUpdateServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.notice.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeUpdateServlet</servlet-name>
    <url-pattern>/notice/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeDeleteServlet</display-name>
    <servlet-name>NoticeDeleteServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.notice.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeDeleteServlet</servlet-name>
    <url-pattern>/notice/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageReceiveServlet</display-name>
    <servlet-name>MessageReceiveServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.message.ReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageReceiveServlet</servlet-name>
    <url-pattern>/message/receive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSaveServlet</display-name>
    <servlet-name>MessageSaveServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.message.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSaveServlet</servlet-name>
    <url-pattern>/message/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSendServlet</display-name>
    <servlet-name>MessageSendServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.message.SendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSendServlet</servlet-name>
    <url-pattern>/message/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageDraftServlet</display-name>
    <servlet-name>MessageDraftServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.message.DraftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDraftServlet</servlet-name>
    <url-pattern>/message/draft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDepartment</display-name>
    <servlet-name>ServletDepartment</servlet-name>
    <servlet-class>com.zhiyou100.servlet.Information.ServletDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDepartment</servlet-name>
    <url-pattern>/list/department</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNotice</display-name>
    <servlet-name>ServletNotice</servlet-name>
    <servlet-class>com.zhiyou100.servlet.Information.ServletNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNotice</servlet-name>
    <url-pattern>/list/notice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUser</display-name>
    <servlet-name>ServletUser</servlet-name>
    <servlet-class>com.zhiyou100.servlet.Information.ServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUser</servlet-name>
    <url-pattern>/list/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientClassifyListServlce</display-name>
    <servlet-name>ClientClassifyListServlce</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientclassify.ListServlce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientClassifyListServlce</servlet-name>
    <url-pattern>/client/classify/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientClassifyAddServlet</display-name>
    <servlet-name>ClientClassifyAddServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientclassify.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientClassifyAddServlet</servlet-name>
    <url-pattern>/client/classify/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientClassifyUpdateServlet</display-name>
    <servlet-name>ClientClassifyUpdateServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientclassify.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientClassifyUpdateServlet</servlet-name>
    <url-pattern>/client/classify/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientClassifyDeleteServlet</display-name>
    <servlet-name>ClientClassifyDeleteServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientclassify.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientClassifyDeleteServlet</servlet-name>
    <url-pattern>/client/classify/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientFromAddServlet</display-name>
    <servlet-name>ClientFromAddServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientfrom.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFromAddServlet</servlet-name>
    <url-pattern>/client/from/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientFromDeleteServlet</display-name>
    <servlet-name>ClientFromDeleteServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientfrom.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFromDeleteServlet</servlet-name>
    <url-pattern>/client/from/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientFromListServlet</display-name>
    <servlet-name>ClientFromListServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientfrom.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFromListServlet</servlet-name>
    <url-pattern>/client/from/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientFromUpdateServlet</display-name>
    <servlet-name>ClientFromUpdateServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientfrom.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFromUpdateServlet</servlet-name>
    <url-pattern>/client/from/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientStatusAddServlet</display-name>
    <servlet-name>ClientStatusAddServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientstatus.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientStatusAddServlet</servlet-name>
    <url-pattern>/client/status/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSatusDeleteServlet</display-name>
    <servlet-name>ClientSatusDeleteServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientstatus.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSatusDeleteServlet</servlet-name>
    <url-pattern>/client/status/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientStatusListServlet</display-name>
    <servlet-name>ClientStatusListServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientstatus.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientStatusListServlet</servlet-name>
    <url-pattern>/client/status/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientStatusUpdateServlet</display-name>
    <servlet-name>ClientStatusUpdateServlet</servlet-name>
    <servlet-class>com.zhiyou100.servlet.clientstatus.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientStatusUpdateServlet</servlet-name>
    <url-pattern>/client/status/update</url-pattern>
  </servlet-mapping>
</web-app>